@layer ful.components {
    *:has(> ful-control-group > input, > ful-control-group > textarea) {
        &[uppercase] input,
        &[uppercase] textarea {
            text-transform: uppercase;
        }
    }

    *:has(> ful-item-list):is([readonly], :disabled) {
        & > ful-item-list button {
            display: none;
        }

        & > ful-item-list > ful-item > div {
            padding-right: 0.5rem;
        }
    }

    ful-item-list {
        --ful-item-list-item-color: var(--ful-active-color);
        --ful-item-list-item-border-radius: var(--ful-border-radius);
        --ful-item-list-item-bg: var(--ful-active-bg);

        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 0.5rem;

        & > ful-item:first-child {
            margin-top: 0.5rem;
        }

        & > ful-item:last-child {
            margin-bottom: 0.5rem;
        }

        & > ful-item > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            min-width: 0;
            min-height: calc(var(--ful-controls-height) + 2 * var(--ful-controls-border-width));
            padding: 5px 0.25rem 5px 0.5rem;
            color: var(--ful-item-list-item-color);
            border-radius: var(--ful-item-list-item-border-radius);
            background-color: var(--ful-item-list-item-bg);

            &:has(:focus-visible) {
                outline: 2px solid var(--ful-active-bg);
                outline-offset: 2px;
            }

            & > span {
                flex: 1 1 auto;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
            }

            & > span + span {
                flex: 0 0 auto;
                font-size: 0.875em;
                opacity: 0.75;
            }

            & > button {
                flex: 0 0 auto;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: calc(var(--ful-controls-height) - 0.625rem);
                height: calc(var(--ful-controls-height) - 0.625rem);
                padding: 0;
                font-size: inherit;
                font-family: inherit;
                color: inherit;
                background-color: transparent;
                border: 0;
                border-radius: calc(var(--ful-item-list-item-border-radius) - 0.1875rem);
                cursor: pointer;

                & ful-icon {
                    width: 1em;
                    height: 1em;
                }

                &:hover {
                    background-color: color-mix(in srgb, var(--ful-invalid-color) 25%, transparent);
                }

                &:focus-visible {
                    outline: 0;
                }
            }
        }
    }
}
