@layer ful.components {
    *:has(> ful-control-group > input, > ful-control-group > textarea) {
        &[uppercase] input,
        &[uppercase] textarea {
            text-transform: uppercase;
        }
    }

    ful-item-list {
        --ful-item-list-item-color: var(--ful-active-color);
        --ful-item-list-item-border-radius: var(--ful-border-radius);
        --ful-item-list-item-bg: var(--ful-active-bg);

        display: grid;
        gap: 4px;

        & > ful-item:first-child {
            margin-top: 6px;
        }

        & > ful-item:last-child {
            margin-bottom: 6px;
        }

        & > ful-item > div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            min-width: 0;
            padding: 5px 0.25rem 5px 0.5rem;
            color: var(--ful-item-list-item-color);
            border-radius: var(--ful-item-list-item-border-radius);
            background-color: var(--ful-item-list-item-bg);

            &:focus-within {
                box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--ful-active-color) 40%, transparent);
            }

            & > span {
                flex: 1 1 auto;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
            }

            & > span + span {
                flex: 0 0 auto;
                font-size: 0.875em;
                opacity: 0.75;
            }

            & > button {
                flex: 0 0 auto;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: calc(var(--ful-controls-height) - 0.625rem);
                height: calc(var(--ful-controls-height) - 0.625rem);
                padding: 0;
                font-size: inherit;
                font-family: inherit;
                color: inherit;
                background-color: transparent;
                border: 0;
                border-radius: calc(var(--ful-item-list-item-border-radius) - 0.1875rem);
                cursor: pointer;

                & ful-icon {
                    width: 1em;
                    height: 1em;
                }

                &:hover {
                    background-color: color-mix(in srgb, var(--ful-invalid-color) 25%, transparent);
                }

                &:focus-visible {
                    outline: 0;
                }
            }
        }
    }
}
