@layer ful.hidden {
    [hidden] {
        display: none;
    }

    .ful-sr-only,
    .ful-sr-label > label,
    .ful-sr-label > ful-choice > label,
    .ful-sr-label > fieldset > legend {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip-path: inset(50%);
        white-space: nowrap;
        border: 0;
    }
}
