@layer ful.components {
    *:has(> ful-table-wrapper) {
        display: block;

        & th {
            text-align: start;
        }

        &[aria-busy="true"] tbody:not([data-ref]) {
            opacity: 0.6;
            pointer-events: none;
        }

        & tbody[data-ref="initial"],
        & tbody[data-ref="loading"],
        & tbody[data-ref="empty"],
        & tbody[data-ref="feedback"] {
            height: 360px;

            & td {
                & p {
                    margin-top: 1rem;
                }
            }
        }

        & td[colspan]:has(> ful-empty) {
            padding: 0;
        }
    }

    ful-sorter {
        display: inline-flex;
        align-items: baseline;
        gap: 0.25em;

        &:not(:state(rendered)) {
            visibility: hidden;
        }

        cursor: pointer;

        &:focus-visible {
            outline: 0;
            box-shadow: var(--ful-focus-box-shadow);
        }
    }
}
