ful-filter-text,
ful-filter-instant,
ful-filter-local-date {
    display: block;

    &:not(:defined) {
        visibility: hidden;
    }

    & > ful-control-group > ful-affix {
        padding: 0;
        min-width: 4rem;
        overflow: hidden;

        & > button[data-ref='operator'] {
            anchor-name: --ful-filter-operator;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            align-self: stretch;
            padding: 0.375rem 0.75rem;
            font-size: inherit;
            font-family: inherit;
            line-height: 1.5;
            color: var(--ful-color);
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            border-radius: 0;
            cursor: pointer;
        }

        & > button[data-ref='operator']:hover {
            color: var(--ful-active-color);
            background-color: var(--ful-active-bg);
        }

        & > button[data-ref='operator']:focus {
            outline: 0;
        }

        & > ul[popover] {
            position-anchor: --ful-filter-operator;
            top: anchor(bottom);
            margin: 0.3rem 0 0;
            min-width: 6rem;
            padding: 0.5rem 0;
            list-style: none;
            color: var(--ful-color);
            background-color: var(--ful-bg);
            background-clip: padding-box;
            border: var(--ful-border-width) solid var(--ful-border-color);
            border-radius: var(--ful-border-radius);

            &:popover-open {
                display: block;
            }

            & > li > a {
                display: block;
                min-width: 2.5em;
                padding: 0.25rem 1rem;
                color: var(--ful-color);
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }

            & > li > a:hover {
                background-color: var(--ful-selected-bg);
            }

            & > li > a:focus-visible {
                background-color: var(--ful-selected-bg);
                outline: 0;
            }

            & > li > a:active {
                color: var(--ful-active-color);
                background-color: var(--ful-active-bg);
            }
        }
    }
}
